# Log files
Logs/*.log

# Do files with PII
Do/X*.do

# Raw data files
Data/maximum_diva.dta

# Crosswalk files
Data/*_crosswalk.dta

# Personal identifiers
Data/*_pii.dta

# Outreg XML files
Tables/*.xml
